body{
    margin: 0;
    padding: 0;
}
.background {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hero.jpg);
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-weight: 900;
    height: 100vh;
}
.navigationbar {
    display: flex;
    flex-direction: row;
}
.navigationbar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em;
}
.logo {
    padding-left: 5em;
    padding-top: 1em;
    flex: 1;
}
.menu {
    padding-top: 1em;
    padding-right: 4em;
}
.backgroundContetnt {
    text-align: center;
    margin-top: 35vh;
}
.backgroundContetnt button {
    color: white;
    background-color: rgb(37, 145, 231);
    border: none;
    border-radius: 3px;
    width: 10em;
    padding: 10px;
    cursor: pointer;
}
.lorem{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;

}
.lorem p {
    text-align: center;
    opacity: 0.8;
}
.lorem hr {
    color: rgb(49,157,244);
    border: 2px solid rgb(49,157,244);
    width: 200px;
    
}
.FourImages{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.tightImg{
    width: 500px;
    height: 150px;
    margin-left: 10vh;
}
.wide{
    height: 150px;
    width: 690px;
    margin-right: 10vh;
}
.wideBalloon{
    height: 150px;
    width: 690px;
    margin-left: 10vh;
    margin-top: 20px;
}
.tightMountain{
    width: 500px;
    height: 150px;
    margin-right: 10vh;
    margin-top: 20px;
}
.about{
    margin-top: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(248,248,248);
}
.featuresAndServices{
    padding-top: 5vh;
}
.featuresAndServices p {
    opacity: 0.6;
}
.featuresAndServices hr {
color: rgb(49,157,244);
border: 2px solid rgb(49,157,244);
width: 200px;
}
.aboutRow{
    display: flex;
    flex-direction: row;
    margin-right: 10vh;
    margin-left: 10vh;
  
}

.column .fa{
    color:  rgb(49,157,244);;
}
.column{
    padding-top:  7vh;
    margin-right: 5vh;
}
.column p {
    font-size: 1.8vh;
    opacity: 0.6;
}
.column h4 {
    font-size: 2vh;
}
.joinNews{
    padding-top: 20vh;
}
.joinNews hr{
 color: rgb(49,157,244);
border: 2px solid rgb(49,157,244);
width: 200px;
}
.joinNews p {
    opacity: 0.6;
}
.email{
    padding-top: 5vh;
    padding-bottom: 15vh;
  
}
.email p {
    display: inline-block;
}
.subButton{
  padding: 10px 20px;
    background-color: rgb(49,157,244) ;
    color: white;
    border: 2px solid rgb(49,157,244);
  font-family: sans-serif;
    border-radius: 10px;
}
.labelEmail{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13vh;
    margin-right: 15px;
    padding-left: 5px;
}
.footer{
    text-align: center;
    background-color: rgb(65,74,79);
}
.social-Icons{
    padding-top: 5vh;
}
.social-Icons .fa {
   color: white;
   margin-right: 10px;
}
.footerText{
    padding-bottom: 10px;
    color: white;   
}
@media  (min-width: 600px) and (max-width: 1300px) {
    .background{
        height: 75vh;
    }
.tightImg , .wide , .wideBalloon , .tightMountain {
    width: 600px;
    height: 200px;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-top: 30px;  
}
.FourImages{
    flex-direction: column;
    justify-content: center;
}
.aboutRow{
    flex-direction:column;
}
.column  p {
    font-size: 3.2vh;
    opacity: 0.6;
}
.column , .lorem h4 {
    font-size: 4vh;
}
.email  p {
    display: block;
}
.subButton{
    display: inline-block;;
}
.subButton{
    padding: 20px 35px;
      background-color: rgb(49,157,244) ;
      color: white;
      border: 2px solid rgb(49,157,244);
    font-family: sans-serif;
      border-radius: 15px;
}
.featuresAndServices , .joinNews , .lorem h1 {
    font-size: 4vh;
}
.featuresAndServices , .joinNews , .lorem  p {
    font-size: 3.2vh;
}
