@media only screen and (max-width: 600px) {
    .navigationbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0em;
    }
    .logo {
        margin-right: 15vh;
        font-size: 28px;
        padding-bottom: 2vh;
        text-align: center;
    }
    .menu {
        padding: 0em;
    }
    .backgroundContetnt {
        margin-top: 15vh;
    }
    .backgroundContetnt h1 {
        font-size: 48px;
    }

   .backgroundContetnt button {
        font-weight: 700;
        width: 13em;
        margin-top: 4vh;
   } 
   .background{
    height: 75vh;
}
.tightImg , .wide , .wideBalloon , .tightMountain {
width: 200px;
height: 250px;
padding: 0;
display: block;
margin: 0 auto;
margin-top: 20px;  
}
.FourImages{
flex-direction: column;
justify-content: center;
}
.aboutRow{
    flex-direction:column;
}
.labelEmail{
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.column p {
    font-size: 3.7vh;
    opacity: 0.6;
}
.column h4 {
    font-size: 5vh;
}
.email p {
    display: block;
}
.subButton{
    display: inline-block;;
}
.subButton{
    padding: 20px 35px;
      background-color: rgb(49,157,244) ;
      color: white;
      border: 2px solid rgb(49,157,244);
    font-family: sans-serif;
      border-radius: 15px;
}
.featuresAndServices , .joinNews , .lorem h1 {
    font-size: 5vh;
}
.featuresAndServices , .joinNews , .lorem  p {
    font-size: 3.7vh;
}